includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 6 provides good type checking while being practical
    level: 6

    ignoreErrors:
        # Generic type variance issues - these are acceptable as filters work with any model
        - '#Parameter \#1 \$filter of method App\\Queries\\Core\\AbstractQueryBuilder<.*>::addFilter\(\) expects App\\Contracts\\Queries\\QueryFilterInterface<.*>, .* given\.#'
        
        # Unsafe new static() is acceptable in abstract classes with proper type constraints
        - '#Unsafe usage of new static\(\)\.#'
        
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php